source/epix-project/epix-service/src/main/schema/PIXManService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PIXManServiceBeanService" targetNamespace="http://pixman.ganimed.icmvc.emau.org/" xmlns:tns="http://pixman.ganimed.icmvc.emau.org/" xmlns:ns1="http://www.ganimed.icmvc.emau.org/el/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://www.ganimed.icmvc.emau.org/el/common/model" xmlns:ns2="http://www.ganimed.icmvc.emau.org/pixman/model" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://pixman.ganimed.icmvc.emau.org/" version="1.0" xmlns:ns1="http://www.ganimed.icmvc.emau.org/pixman/model" xmlns:tns="http://pixman.ganimed.icmvc.emau.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://www.ganimed.icmvc.emau.org/pixman/model"/>
   <xs:element name="requestMPI" type="tns:requestMPI"/>
   <xs:element name="requestMPIResponse" type="tns:requestMPIResponse"/>
   <xs:complexType name="requestMPI">
    <xs:sequence>
     <xs:element minOccurs="0" name="mpiRequest" type="ns1:MPIRequest"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestMPIResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="mpiResponse" type="ns1:MPIResponse"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
    <xs:schema targetNamespace="http://www.ganimed.icmvc.emau.org/el/common" version="1.0" xmlns:ns1="http://www.ganimed.icmvc.emau.org/el/common/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://www.ganimed.icmvc.emau.org/el/common/model"/>
   <xs:element name="HealthcareProvider" type="ns1:HealthcareProvider"/>
   <xs:element name="Patient" type="ns1:Patient"/>
  </xs:schema>
    <xs:schema targetNamespace="http://www.ganimed.icmvc.emau.org/el/common/model" version="1.0" xmlns:tns="http://www.ganimed.icmvc.emau.org/el/common/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="Patient">
    <xs:complexContent>
     <xs:extension base="tns:Person">
      <xs:sequence>
       <xs:element minOccurs="0" name="patientId" type="xs:string"/>
       <xs:element minOccurs="0" name="case" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Person">
    <xs:sequence>
     <xs:element name="firstName" type="xs:string"/>
     <xs:element name="lastName" type="xs:string"/>
     <xs:element minOccurs="0" name="gender" type="tns:gender"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="contact" nillable="true" type="tns:Contact"/>
     <xs:element minOccurs="0" name="mpi-id" type="xs:string"/>
     <xs:element minOccurs="0" name="birthDate" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Contact">
    <xs:sequence>
     <xs:element minOccurs="0" name="street" type="xs:string"/>
     <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
     <xs:element minOccurs="0" name="city" type="xs:string"/>
     <xs:element minOccurs="0" name="state" type="xs:string"/>
     <xs:element minOccurs="0" name="email" type="xs:string"/>
     <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HealthcareProvider">
    <xs:complexContent>
     <xs:extension base="tns:Person">
      <xs:sequence>
       <xs:element minOccurs="0" name="identifierDomain" type="tns:IdentifierDomain"/>
       <xs:element minOccurs="0" name="department" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifierDomain">
    <xs:sequence>
     <xs:element name="institution" type="xs:string"/>
     <xs:element minOccurs="0" name="oid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="gender">
    <xs:restriction base="xs:string">
     <xs:enumeration value="m"/>
     <xs:enumeration value="w"/>
     <xs:enumeration value="na"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
    <xs:schema targetNamespace="http://www.ganimed.icmvc.emau.org/pixman/model" version="1.0" xmlns:ns1="http://www.ganimed.icmvc.emau.org/el/common/model" xmlns:ns2="http://www.ganimed.icmvc.emau.org/el/common" xmlns:tns="http://www.ganimed.icmvc.emau.org/pixman/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://www.ganimed.icmvc.emau.org/el/common/model"/>
   <xs:import namespace="http://www.ganimed.icmvc.emau.org/el/common"/>
   <xs:complexType name="MPIRequest">
    <xs:sequence>
     <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element ref="ns2:Patient"/>
      <xs:element ref="ns2:HealthcareProvider"/>
     </xs:choice>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MPIResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" name="MPIList" type="tns:MPI-ID"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MPI-ID">
    <xs:sequence>
     <xs:element name="value" type="xs:string"/>
     <xs:element name="idType" type="xs:string"/>
     <xs:element minOccurs="0" ref="ns2:Patient"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:HealthcareProvider"/>
     <xs:element name="ErrorCode" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  </types>
  <message name="PIXManService_requestMPI">
    <part name="requestMPI" element="tns:requestMPI">
    </part>
  </message>
  <message name="PIXManService_requestMPIResponse">
    <part name="requestMPIResponse" element="tns:requestMPIResponse">
    </part>
  </message>
  <portType name="PIXManService">
    <operation name="requestMPI" parameterOrder="requestMPI">
      <input message="tns:PIXManService_requestMPI">
    </input>
      <output message="tns:PIXManService_requestMPIResponse">
    </output>
    </operation>
  </portType>
  <binding name="PIXManServiceBinding" type="tns:PIXManService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="requestMPI">
      <soap:operation soapAction="requestMPI"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIXManServiceBeanService">
    <port name="PIXManServiceBeanPort" binding="tns:PIXManServiceBinding">
      <soap:address location="http://pc153-cmvc:8180/pixman"/>
    </port>
  </service>
</definitions>
